<a href="https://colab.research.google.com/github/kerenalli/Python/blob/main/module_2_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions and Collections in Python**
1. User defined Functions,
  * Types of functions:
    * Standard functions
    * User defined functions
  * Types of functions based on IO
    1. Functions with no IO
    2. Functions with IO
    3. Functions with I but no O
    4. Functions with O but not I
    * Anonymous Functions
2. Parameters to functions,
  * Arguements
  * Parameters
  * keyword arguements
  * Default parameters
3. Recursive functions.
4. Lists,
5. Tuples,
6. Dictionaries,
7. Strings.

# **Module 2: Part 1: Functions**

In [ ]:
#Program to illustrate the need of functions
name1 = input("Enter the name: ")
age1 = int(input("Enter the age: "))
print("The name is {} and age is {}".format(name1, age1))
name2 = input("Enter the name: ")
age2 = int(input("Enter the age: "))
print("The name is {} and age is {}".format(name2, age2))
name3 = input("Enter the name: ")
age3 = int(input("Enter the age: "))
print("The name is {} and age is {}".format(name3, age3))

Enter the name: sk
Enter the age: 40
The name is sk and age is 40
Enter the name: mk
Enter the age: 42
The name is mk and age is 42
Enter the name: jk
Enter the age: 13
The name is jk and age is 13

In [ ]:
#Defining and using the functions
#Callee
def read():
  name = input("Enter the name: ")
  age = int(input("Enter the age: "))
  return name, age

def display(n,a):#Callee
  print("The name is {} and age is {}".format(n, a))

#Driver Code
if __name__ == "__main__":
  n, a = read()
  display(n,a)#Calling the function with parameters

Enter the name: s
Enter the age: 24
The name is s and age is 24

In [ ]:
#functions with inputs and return values
def swap(x,y):
  t = x
  x = y
  y = t
  return x, y

if __name__ == "__main__":
  x = 100
  y = 200
  print("In main: x is {} and y is: {}".format(x,y))
  x,y = swap(x,y)
  print("In main after swap: x is {} and y is: {}".format(x,y))

In main: x is 100 and y is: 200
In main after swap: x is 200 and y is: 100

In [ ]:
#functions with no inputs and no return values
def swap():
  x = 100
  y = 200
  print("In function before swap: x: {} and y: {}".format(x,y))
  t = x
  x = y
  y = t
  print("In function after swap: x-->{} and y-->{}".format(x,y))


if __name__ == "__main__":
  swap()

In function before swap: x: 100 and y: 200
In function after swap: x-->200 and y-->100

In [ ]:
#Functions with arguements without return values
def swap(x,y):
  print("In function before swap: x: {} and y: {}".format(x,y))
  t = x
  x = y
  y = t
  print("In function after swap: x-->{} and y-->{}".format(x,y))

if __name__ == "__main__":
  swap(100,200)

In function before swap: x: 100 and y: 200
In function after swap: x-->200 and y-->100

In [ ]:
#Functions with no input but return values
def swap():
  x = 100
  y = 200
  print("In function before swap: x: {} and y: {}".format(x,y))
  t = x
  x = y
  y = t
  print("In function after swap: x-->{} and y-->{}".format(x,y))
  return x,y

if __name__ == "__main__":
  x,y = swap()
  print("In function main: a-->{} and b-->{}".format(x,y))

In function before swap: x: 100 and y: 200
In function after swap: x-->200 and y-->100
In function main: a-->200 and b-->100

In [ ]:
#Default parameters:
def fact(n = 0):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

#Function without any parameter
print("Default result: ", fact())
print("Factorial of 10: ",fact(10))

Default result:  1
Factorial of 10:  3628800

In [ ]:
#Last arguements can be the only defaults
def name(f, m, l = "Sudarshan"):
  print("The full name of the person is: {} {} {}".format(f,m,l))

f = "kerenalli"
m = 'Shekhar'
name(f,m)

The full name of the person is: kerenalli Shekhar Sudarshan

In [ ]:
#keyword arguements
def name(f, m,l):#f,m,l are formal parameters or parameters
  print("The full name of the person is: {} {} {}".format(f,m,l))

name(f = "kerenalli", l = "sudarshan",m = 'Shekhar')#f, m, l are called actual parameters or arguements

#Order of the keywords does not matter:
name(f = "kerenalli", m = 'Shekhar',l = "sudarshan")
name(m = 'Shekhar',f = "kerenalli",l = "sudarshan")

The full name of the person is: kerenalli Shekhar sudarshan
The full name of the person is: kerenalli Shekhar sudarshan
The full name of the person is: kerenalli Shekhar sudarshan

In [ ]:
#keyword arguements
def name(fname, lname, mname):
  print("The person name is:{} {} {}".format(fname,mname,lname))

f = input("Enter the first name: ")
m = input("Enter the middle name: ")
l = input("Enter the last name: ")
name(f,m,l)
name(f,l,m)
name(l,m,f)

Enter the first name: s
Enter the middle name: k
Enter the last name: m
The person name is:s m k
The person name is:s k m
The person name is:m s k

In [ ]:
#keyword arguements
def name(fname, lname, mname):
  print("The person name is:{} {} {}".format(fname,mname,lname))

f = input("Enter the first name: ")
m = input("Enter the middle name: ")
l = input("Enter the last name: ")
name(fname=f,mname=m,lname=l)

Enter the first name: s
Enter the middle name: k
Enter the last name: m
The person name is:s k m

In [ ]:
#Variable length arguements
def name(*args):
  for item in range(len(args)):
    print(args[item])

f = input("Enter the first name: ")
name(f)

Enter the first name: sudarshan
sudarshan

In [ ]:
f = input("Enter the first name: ")
m = input("Enter the middle name: ")
name(f,m)

Enter the first name: sudarshana
Enter the middle name: kerenalli
sudarshana
kerenalli

In [ ]:
f = input("Enter the first name: ")
m = input("Enter the middle name: ")
l = input("Enter the last name: ")
name(f,m,l)

Enter the first name: sudarshana
Enter the middle name: kerenalli
Enter the last name: shekhar
sudarshana
kerenalli
shekhar

In [ ]:
#variable lentgth key word arguements
def name(**kwargs):
  print("Full name: {} {} {} {}".format(kwargs["init"],kwargs["fname"],kwargs["mname"],kwargs["lname"]))

f = input("Enter the first name: ")
m = input("Enter the middle name: ")
l = input("Enter the last name: ")
name(init = "mr", fname=f,mname=m,lname=l)

Enter the first name: sudarshana
Enter the middle name: shekhar
Enter the last name: kerenalli
Full name: mr sudarshana shekhar kerenalli

In [ ]:
name(fname=f,mname=m,lname=l,init = "mr")

Full name: mr sudarshana shekhar kerenalli

In [ ]:
#write a function to print the arbitrary number of values
def display(**kwargs):
  print(kwargs["one"])
  print(kwargs["two"])
  print(kwargs["thr"])
display(one=1, two=2, thr = 3)

1
2
3

In [ ]:
#Anonymous Functions
if __name__ == "__main__":
  x = 10
  xsq = lambda x: x*x
  print("The square of {} is {}".format(x, xsq(x)))

The square of 10 is 100

In [ ]:
import math
if __name__ == "__main__":
  x = 10
  xsqrt = lambda x: math.sqrt(x)
  print("The square of {} is {}".format(x, xsqrt(x)))

The square of 10 is 3.1622776601683795

# **Module 2: Part 2: Collections in Python**

# **2.2.1: Lists in Python**

In [1]:
#list creation
#Method 1: Using operator []
l1 = [1,2,3,4,5]
print(l1)#Prints all the items in the list

[1, 2, 3, 4, 5]

In [3]:
#Method 2: Using list() constructor
l2 = list(("A","B","C","D"))
print(l2)

['A', 'B', 'C', 'D']

In [7]:
#Accessing the list items: via indexing
#Positive indexing
print("The fourth item in the list 1: {}".format(l1[3]))
#Nagetive indexing
print("The last item in the list2 is: {}".format(l2[-1]))

#List slicing
#Range of itmes from the list
print("The 2nd to 5th items in the list are: ",l1[1:4])
#Print the itmes from 2nd to last in list2
print("Items in l2 from 2nd to last are: ",l2[1:])
#print the first to last itmes from list1
print("Items in the list2 first to (last-l): ",l2[:-1])

The fourth item in the list 1: 4
The last item in the list2 is: D
The 2nd to 5th items in the list are:  [2, 3, 4]
Items in l2 from 2nd to last are:  ['B', 'C', 'D']
Items in the list2 first to (last-l):  ['A', 'B', 'C']

In [9]:
#Adding the items into the list
#Appending:
print("Number of items in the list1: ",len(l1))
l1.append(6)
print("Number of items in the list1 after appending: ",len(l1))
print(l1)
#Insert
l2.insert(2, "AA")
print(l2)

Number of items in the list1:  6
Number of items in the list1 after appending:  7
[1, 2, 3, 4, 5, 6, 6]
['A', 'B', 'AA', 'AA', 'C', 'D']

In [11]:
#Joining two lists
l3 = l1 + l2
print("Concatenated list is: ", l3)

#Extending the lists
l4 = []
l4.extend(l2)
print("Extended list is: ",l4)

Concatenated list is:  [1, 2, 3, 4, 5, 6, 6, 'A', 'B', 'AA', 'AA', 'C', 'D']
Extended list is:  ['A', 'B', 'AA', 'AA', 'C', 'D']

In [14]:
#Sorting a list
l1.sort()
print(l1)
#reversing the list
l2.sort(reverse = True)
print(l2)

[1, 2, 3, 4, 5, 6, 6]

['D', 'C', 'B', 'AA', 'AA', 'A']

In [19]:
#Deleting the items from the list
#deleting a specific item from the list
del l1[2]
print(l1)
#del l4
#print(l4): NameError: name 'l4' is not defined

[1, 2, 5]

NameError: ignored

In [23]:
#Using remove a specific item
l2.remove("A")
print(l2)
#Using pop(Position)
l1.pop(0)
print(l1)

['D', 'C', 'B']
[2, 5]

In [24]:
#list comprehension
l5 = [1,2,3,4,5,6]
#Find the square of each list item using list comprehension
l5sq = [x*x for x in l5]
print("Square of each list item is: ",l5sq)

[1, 4, 9, 16, 25, 36]

In [26]:
#list out odd and even numbers
odd = [item for item in range(10) if item%2 != 0]
even = [item for item in range(10) if item%2 == 0]
print("Evens list: ", even)
print("Odd list: ", odd)

Evens list:  [0, 2, 4, 6, 8]
Odd list:  [1, 3, 5, 7, 9]

In [27]:
#Clearing the list items
lis = [1,2,3,4,5,6]
print("List items are: ", lis)
lis.clear()
print(lis)

List items are:  [1, 2, 3, 4, 5, 6]
[]

In [35]:
l22 = l1.copy()
print(l22)
l22.reverse()
print(l22)
#List index function
print("Index of the item 5 is: {}".format(l22.index(5)))

[2, 5]
[5, 2]
Index of the item 5 is: 0