<a href="https://colab.research.google.com/github/kerenalli/Python/blob/main/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Module 1.**

  * Python Input/output statements,
  * Numbers,
  * Strings,
  * Variables,
  * Operators,
  * Expressions and statements,
  * String operations,
  * Math function calls,
  * Conditional If,
  * Loops: while and for.

# **Strings**

In [ ]:
fname  = 'sudarshana'
lname = "Kerenalli"
#print("The variable type of ", fname, " is: ", type(fname))
#print("The variable type of ", lname, " is: ", type(lname))

#print("The 10th character in the given string is: ",fname[9] )
#print("The 3rd to 8th characters in the given string are: ",fname[:4])

#Negative indexing
#print("The 3rd to 8th characters in the given string are: ",fname[-8:-2])

#String concatination
#print("The concatinated string is: ", fname+lname)

#print("The concatinated string is: ", lname+fname)
new_name = fname+lname
#print(new_name)
#z = new_name.split('a')
#print(z)

#print("The length of the fname is: ",len(fname))

for i in range(len(fname)):
  print(fname[i])

s
u
d
a
r
s
h
a
n
a

In [ ]:
def display():
  #x = 20 #local variable
  print("The value of x inside display(): ", x)

x = 100 #Global variable
display()
print(x)

The value of x inside display():  100
100

In [ ]:
print("Hello Welcome to Python. ")
# the above function prints the statement on to the monitor.

Hello Welcome to Python.

In [ ]:
x = input("Enter the information. ")#Input op
print(x)  #Output

Enter the information. hi
hi

# **2. Numbers**
3 types of numbers are:
* Integers: They are the whole numbers including 0.
  * 10, -4
* Real Numbers/Floating point numbers: They are the integers with decimal portions.
  * 12.06, 134e-34
* Complex numbers: They are the real numbers with imaginary part
  * 3+4j, 3.05, -5

In [ ]:
x = 20
y = -12.0765
z = 4+3j

print("The data type of ", x, " is: ", type(x))

The data type of  20  is:  <class 'int'>

In [ ]:
x = input("Enter the data. ")
print("The value ", x, " is of ", type(x)," .")
#Type casting
y = int(x)
print("Now the value ", x, " is of ", type(y)," .")

Enter the data. 12
The value  12  is of  <class 'str'>  .
Now the value  12  is of  <class 'int'>  .

# **3. Variables**
* Named memory locations, they contain the information
* Types of variable:
  * Local variables
  * Global variables

In [ ]:
def display():
  x = "Kerenalli"
  print("Local value of ",x)

x = "Sudarshana"
print("Global value of ", x)
display()

Global value of  Sudarshana
Local value of  Kerenalli

In [ ]:
#Global keyword
def display():
  global x
  x = "Kerenalli"
  print("Local value of ",x)


print("Global value of ", x)
display()

Global value of  Kerenalli
Local value of  Kerenalli

# **4. Data types**
  * Numeric types:
    * int,
    * float,
    * complex
  * String or text types:     
   * characters
   * strings
  * Collections:
    * Lists
    * Tuples
    * Sets
    * Dictionaries
  * Binary Types
    * bytes
    * bytearray
    * memoryview
  * Boolean
    * bool
  * None Type
    * NoneType

In [ ]:
b = b"GoodMorning"
#The data will be stored in the binary format
for i in range(len(b)):
  print(b[i])
#print(type(b))
#b[0] = ord('g')
print(b)

71
111
111
100
77
111
114
110
105
110
103

TypeError: ignored

In [ ]:
ba = bytearray(b)
print(ba)
print(type(ba))
#Changing the content of ba
ba[0] = ord("M")
print(ba)

#memoryview
mv = memoryview(ba)
print(mv)
print(type(mv))

bytearray(b'GoodMorning')
<class 'bytearray'>
bytearray(b'MoodMorning')
<memory at 0x7b6a7d38fd00>
<class 'memoryview'>

In [ ]:
#Nonetype
n = None
print(n, " is of type ", type(n))

None  is of type  <class 'NoneType'>

TypeError: ignored

In [ ]:
ba = bytearray(b'Hello')
print(ba)
ba[0]= ord("M")
ba

bytearray(b'Hello')

bytearray(b'Mello')

In [ ]:
b = 0
print(type(bool(b)))

<class 'bool'>

In [ ]:
x = list((1,2,3,4,5))
print(x)
x.append(11)
print(x)
x.insert(3,9)
print(x)
print(x.reverse())
y = tuple((1,2,3,4))
print(y)
z = set((1,2,3,4,5))
print(z)
w = dict({"maruti":"800","mahindra":"bolero","tata": "indica","hynduai":"creta"})
print(w.values())
print(w.keys())

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 11]
[1, 2, 3, 9, 4, 5, 11]
None
(1, 2, 3, 4)
{1, 2, 3, 4, 5}
dict_values(['800', 'bolero', 'indica', 'creta'])
dict_keys(['maruti', 'mahindra', 'tata', 'hynduai'])

# **Operators**
1. Arithmetic Operators
  1. Addition + ==> a + b
  2. Subtraction - ==> a - b
  3. Multiplication * ==> a * b
  4. Division / ==> x / y
  5. Floor Division // ==> x//y
  6. Remainder % x % y
  7. power : x**y
2. Relational or Comparison operators:
  1. Equal: == ==> x == y
  2. Not Equals: != ==> x != y
  3. greater than: > ==> x>y
  4. less than: <
  5. greater than or equal: x >= y
  6. less than or equal : x <= y
3. Logical Operators:
  1. AND : and ==> x and y
  2. OR: or ==> x or y
  3. not:  not x
4. Bitwise operators:
  1. bitwise and & ==> x & y
  2. biwise or: | ==> x | y
  3. bitwise not: ~ ==> ~x
  4. bitwise xor: ^ ==> x ^ y
  5. leftshift : <<
  6. right shift: >>: ==> x >> y
5. Shorthand notations:
  1.  += : x += y ==> x = x + y
6. Membership operator
  1. in
  2. not in
7. Identity operator
  1. is
  2. is not

In [ ]:
x = int(input("Enter the number 1: "))
y = int(input("Enter the number 2: "))

#Arithmetic operators
print("Addition of ", x, " and ", y, " is: ", x+y)
print("Difference of ", x, " and ", y, " is: ", x-y)
print("Product of ", x, " and ", y, " is: ", x*y)
print("Quotient of ", x, " by ", y, " is: ", x/y)
print("Integer quotient of ", x, " by ", y, " is: ", x//y)
print("Remainder of ", x, " by ", y, " is: ", x%y)
print("Power of ", x, " raised ", y, " is: ", x**y)

#logical operations:
print(x, " and ", y, " is: ", x and y)
print(x, " or ", y, " is: ", x or y)
print(x, " not ", x, " is: ", not x)

#bitwise operators
print(x, " bitwise and ", y, " is: ", x & y)
print(x, " bitwise or ", y, " is: ", x | y)
print(x, " bitwise xor ", y, " is: ", x ^ y)
print(x, " bitwise not ", x, " is: ", ~x)
print(x, " bitwise xor ", y, " is: ", x ^ y)
print(x, " leftshift ", y, " is: ", x << y)
print(x, " rightshift ", y, " is: ", x << y)

#Relational operators
print("Are ", x, " and ",y, " equal?: ", x == y)
print("Are ", x, " and ",y, " not equal?: ", x != y)
print("Is ", x, " is greater than ",y, "?: ", x > y)
print("Is ", x, " is greater than or equal to ",y, "?: ", x >= y)
print("Is ", x, " is less than ",y, "?: ", x < y)
print("Is ", x, " is less than or equal to ",y, "?: ", x <= y)

Enter the number 1: 10
Enter the number 2: 2
Addition of  10  and  2  is:  12
Difference of  10  and  2  is:  8
Product of  10  and  2  is:  20
Quotient of  10  by  2  is:  5.0
Integer quotient of  10  by  2  is:  5
Remainder of  10  by  2  is:  0
Power of  10  raised  2  is:  100
10  and  2  is:  2
10  or  2  is:  10
10  not  10  is:  False
10  bitwise and  2  is:  2
10  bitwise or  2  is:  10
10  bitwise xor  2  is:  8
10  bitwise not  10  is:  -11
10  bitwise xor  2  is:  8
10  leftshift  2  is:  40
10  rightshift  2  is:  40
Are  10  and  2  equal?:  False
Are  10  and  2  not equal?:  True
Is  10  is greater than  2 ?:  True
Is  10  is greater than or equal to  2 ?:  True
Is  10  is less than  2 ?:  False
Is  10  is less than or equal to  2 ?:  False

In [ ]:
#Member operator
x = ["kannada", "telugu", "tamil", "malayalam", "tulu"]
y = input("Enter the language:  ")
print("Yes "+ y + " is a Dravidian language") if y in x else print(("No "+ y +" is not a Dravidian language"))

Enter the language:  bengali
No bengali is not a Dravidian language

In [ ]:
#Identity operator: is
x = ["kannada", "telugu", "tamil", "malayalam", "tulu"]
y = ["hindi", "bengali","gujarati", "marathi", "maithili"]
z = x
w = x.copy()
print(z)
print("True ") if x is not y else print("False")
print("True ") if x is w else print("False")

['kannada', 'telugu', 'tamil', 'malayalam', 'tulu']
True
False

# **8. Branch statements**
* Python supports the following condtional branch statements.
  * if...else
  * if.. elif...else ladder

In [ ]:
x = 10
y = 2
if x%y == 0:
  print(x, " is divisible by: ", y)
else:
  print(x, " is not divisible by: ", y)

10  is divisible by:  2

In [ ]:
print(x, " is divisible by: ", y)if (x%y == 0) else print(x, " is not divisible by: ", y)

10  is divisible by:  2

# **9. Loops in Python**
* Finite vs. Infinite
* Sentinel vs. counter controlled
* Python Loops:
  * while
  * for

In [ ]:
x = [1,2,3,4,5,6,7,8,9]
i = 0 #Initialization
while i < len(x): #Testing
  print(i+1," th item is: ", x[i])
  i = i + 1 #Update
else:
  print(i+1, "th item is not present")

1  th item is:  1
2  th item is:  2
3  th item is:  3
4  th item is:  4
5  th item is:  5
6  th item is:  6
7  th item is:  7
8  th item is:  8
9  th item is:  9
10 th item is not present

In [ ]:
for i in range(len(x)):
  print(i+1," th item is: ", x[i])
else:
  print(i+1, "th item is not present!")

1  th item is:  1
2  th item is:  2
3  th item is:  3
4  th item is:  4
5  th item is:  5
6  th item is:  6
7  th item is:  7
8  th item is:  8
9  th item is:  9
9 th item is not present!

# **Note: Unconditional jump instructions**
  * break
  * continue

In [ ]:
x = [1,2,3,4,5,6,7,8,9]

i = 0 #Initialization
while i < len(x): #Testing
    print(i+1," th item is: ", x[i])
    i = i + 1 #Update
    if i > 3:
      break
else:
  print(i+1, "th item is not present")

1  th item is:  1
2  th item is:  2
3  th item is:  3
4  th item is:  4

In [ ]:
x = [1,2,3,4,5,6,7,8,9]

i = 0 #Initialization
while i < len(x): #Testing
    print(i+1," th item is: ", x[i])
    i = i + 1 #Update
    if i <7:
      continue
    else:
      break

1  th item is:  1
2  th item is:  2
3  th item is:  3
4  th item is:  4
5  th item is:  5
6  th item is:  6
7  th item is:  7